body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:powderblue;
  }
 
  
.f{
    background: url(img/download.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
  section{
    background: url(img/images\ \(6\).jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    
}
  
  /* Slider section Responsivr for smalldevice  */
  @media only screen and (max-width: 576px){
  .slider-img{
    width: 300%!important;
  }
  }
  @media only screen and (min-width: 992px){
  .slider-img{
    width: 100%!important;
  }
  }